<div class="menubar">
  <div class="menubar-item">
    LBA
  </div>
  <div class="menubar-item">
    <a [routerLink]="['/alertes']">
      <img src="./assets/images/ic_notifications_white_24px.svg" /> Alertes
    </a>
  </div>
  <div class="menubar-item">
    <a [routerLink]="['/localisations']">
      <img src="./assets/images/ic_room_white_24px.svg" /> Localisations
    </a>
  </div>
  <div class="menubar-item">
    <a [routerLink]="['/parametres']">
      <img src="./assets/images/ic_settings_white_24px.svg" /> Paramètres
    </a>
  </div>
  <div class="menubar-item-right">
    <img src="./assets/images/ic_person_white_24px.svg" />
  </div>
</div>
